@model AnonymousBidder.ViewModels.AuctionCreateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ul class="nav navbar-nav">
    <li class="active"><a href="~/Account/RegisterModerator.cshtml">Create Moderator Account</a></li>
</ul>
<br />
<br />
<h2>Create</h2>

@using (Html.BeginForm("Save", "Auction", FormMethod.Post, new { name = "AuctionCreateForm", id = "AuctionCreateForm" })) 
{
    @Html.AntiForgeryToken()
    <div class="container-fluid" id="AuctionCreateDiv">
        
        <div class="form-horizontal">
            
            <h4>Auction</h4>
         
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Seller.Email, htmlAttributes: new { @class = "required control-label col-md-2" })
                <div class="col-sm-6">
                    <input type="text" id="Seller_Email" name="Seller.Email" class="form-control text-box single-line" placeholder="Seller's Email" required data-email-msg="Enter valid email" style="width: 220px;" />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Auction.ItemName, htmlAttributes: new { @class = "required control-label col-md-2" })
                <div class="col-sm-6">
                    <input type="text" id="Auction_ItemName" name="Auction.ItemName" class="form-control text-box single-line" placeholder="Item Name" required style="width: 220px;" />
                </div>
            </div>
            @*<div class="form-group">
                @Html.Label("Item Image", htmlAttributes: new { @class = "required control-label col-md-2" })
                <div class="col-sm-6">
                    <input type="file" id="files" name="files" class="form-control text-box single-line" style="width: 220px;" />
                    <div class="demo-hint">You can only upload <strong>JPG</strong>, <strong>PNG</strong> files.</div>
                    <div class="demo-hint">Maximum allowed file size is <strong>4MB</strong>.</div>
                </div>
            </div>*@
            <div class="form-group">
                @Html.LabelFor(model => model.Auction.StartingBid, htmlAttributes: new { @class = "required control-label col-md-2" })
                <div class="col-sm-6">
                    <input id="Auction_StartingBid" name="Auction.StartingBid" type="text" min="1" max="9999999999" value="0" required validationMessage="Enter starting bid" data-max-msg="Enter value between 1 and 9999999999" style="width: 220px;" />
                    <span class="k-invalid-msg" data-for="Auction_StartingBid"></span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Auction.StartDate, htmlAttributes: new { @class = "required control-label col-md-2" })
                <div class="col-sm-6">
                    <input type="text" data-role='datetimepicker' data-currentdate-field="Auction_StartDate" data-type="date" id="Auction_StartDate" name="Auction.StartDate" style="width: 220px;" />
                    <span class="k-invalid-msg" data-for="Auction_StartDate"></span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Auction.EndDate, htmlAttributes: new { @class = "required control-label col-md-2" })
                <div class="col-sm-6">
                    <input type="text" data-role='datetimepicker' data-type="date" data-greaterdate-field="Auction_StartDate" data-greaterdate-msg='End date should be after Start date' id="Auction_EndDate" name="Auction.EndDate" style="width: 220px;" />
                    <span class="k-invalid-msg" data-for="Auction_EndDate"></span>
                </div>
            </div>
            @*<div class="form-group">
                    @Html.LabelFor(model => model.Auction_BidGUID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Auction_BidGUID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Auction_BidGUID, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" id="btnCreate" name="btnCreate" value="Create" class="btn btn-default" />
                  
                   
                </div>
            </div>
        </div>
    </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            <script src="~/Scripts/Views/Auction/Create/AuctionCreate.js"></script>
        }
