@model AnonymousBidder.Common.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Password</title>
    <link rel="shortcut icon" href="~/Content/Images/Others/AnonymousBidderFavicon.ico" />
    @Styles.Render("~/Style/css")
    <style>
        .signin-page h4{padding: 0;}
    </style>
</head>
<body>
    @using (Html.BeginForm("DoChangePassword", "Account", FormMethod.Post, new { @class = "", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="container signin-page change-password">
            <div class="signin-logo">
                <img src="~/Content/Images/Signin/AnonymousBidderLogoSignin.png" alt="AnonymousBidder Logo" />
            </div>
            <div class="box">
                <div class="form-section clearfix">
                    <h4 class="pull-left">Change Password</h4>
                </div>
                <hr>
                <div class="form-section clearfix change-password-section">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group paddingleft">
                        <label>Old Password</label>
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                    <div class="form-group paddingleft">
                        <label>New Password</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        <ul class="instruction-message">
                            <li>Strong password required.</li>
                            <li>Enter 8-16 characters.</li>
                            <li>Combine uppercase letters, lowercase letters, numbers, and symbols.</li>
                        </ul>

                    </div>
                    <div class="form-group paddingleft">
                        <label>Confirm New Password</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                    <div class="form-group paddingleft">
                        <input type="submit" class="btn btn-signin" value="Change Password" />
                    </div>
                    <div class="form-group paddingleft">
                        <div class="pull-left forgot-pass">
                            @Html.ActionLink("Back to Log in Page", "Login")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container signin-page">
                <div class="pull-right">© @DateTime.Now.Year.ToString() AnonymousBidder - All Rights Reserved</div>
            </div>
        </footer>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>