@model AnonymousBidder.Common.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password?";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="shortcut icon" href="~/Content/Images/Others/AnonymousBidderFavicon.ico"/>
    @Styles.Render("~/Style/css")
</head>
<body>
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="container signin-page">
            <div class="signin-logo">
                <img src="~/Content/Images/Signin/AnonymousBidderLogoSignin.png" alt="AnonymousBidder Logo" />
            </div>

            <div class="box">
                <div class="form-section clearfix">
                    <h4 class="pull-left">Forgot Password?</h4>
                </div>
                <hr>
                <div class="form-section clearfix">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group paddingleft">
                        <label>Email Address</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-md email-field" })

                        @if (!string.IsNullOrEmpty(ViewBag.NotExistingUser))
                        {
                            <span style="color:red;">@ViewBag.NotExistingUser</span>
                        }
                    </div>
                    <div class="form-group paddingleft">
                        <input type="submit" class="btn btn-signin" value="Email Link" />
                    </div>
                    <div class="form-group paddingleft">
                        <div class="pull-left forgot-pass">
                            @Html.ActionLink("Back to Log in Page", "Login")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container signin-page">
                <div class="pull-right">© @DateTime.Now.Year.ToString() AnonymousBidder - All Rights Reserved</div>
            </div>
        </footer>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>