@model AnonymousBidder.ViewModels.BAccountCreateViewModel
@{
    Layout = null;
    string message = ViewBag.ErrorMessage;
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register AnonymousBidder</title>
    <link rel="shortcut icon" href="~/Content/Images/Others/AnonymousBidderFavicon.ico" />
    @Styles.Render("~/Style/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
</head>
<body>

    @*@using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))*@
    <form action="/Account/RegisterBidder/?returnUrl=@ViewBag.ReturnUrl" method="post" novalidate="novalidate">
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        <div class="container signin-page">
            <div class="signin-logo">
            </div>
            <div class="box">

                <div class="form-section clearfix">
                    <h4 class="pull-left">Register with AnonymousBidder</h4>
                    <div class="pull-right secure-region">
                    </div>
                </div>
                <hr>
                <div class="form-section clearfix">

                    <div class="form-group paddingleft">
                        <label>Email Address</label>
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control input-md email-field" })
                        @Html.ValidationMessageFor(model => model.EmailAddress)

                    </div>

                    <div class="form-group paddingleft">
                        <label>Alias</label>
                        @Html.TextBoxFor(m => m.Alias, new { @class = "form-control input-md email-field" })
                        @Html.ValidationMessageFor(model => model.Alias)

                    </div>


                    <div class="form-group paddingleft">
                        <label>Password</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control input-md password-field" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>

                    <div class="form-group paddingleft">
                        <label>Confirm Password</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control input-md password-field" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>



                    <div class="form-group paddingleft">
                        <label>Money</label>
                        @Html.TextBoxFor(m => m.Money, new { @class = "form-control input-md password-field" })
                        @Html.ValidationMessageFor(model => model.Money)
                    </div>


                    <input type="hidden" name="auctionGUID" value="@Model.auctionGUID">
                    

                    <div class="form-group paddingleft">
                        <span class="field-validation-error">@message</span>

                        <input type="submit" class="btn btn-signin" value="Register" />
                    </div>


                </div>
            </div>
        </div>
        <footer>
            <div class="container signin-page">
                <div class="pull-right">© @DateTime.Now.Year.ToString() AnonymousBidder - All Rights Reserved</div>
            </div>
        </footer>
    </form>
</body>
</html>
