@model AnonymousBidder.ViewModels.MAccountCreateViewModel
@{
    string message = ViewBag.ErrorMessage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register Moderator</title>
    <link rel="shortcut icon" href="~/Content/Images/Others/AnonymousBidderFavicon.ico" />
    @Styles.Render("~/Style/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
</head>
<body>
    <h2>Create</h2>

    @*@using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))*@
    
    <form action="/Account/RegisterModerator/?returnUrl=@ViewBag.ReturnUrl" method="post" novalidate="novalidate">
        @Html.ValidationSummary(true)


        <div class="container-fluid" id="AuctionCreateDiv">
            <div class="form-horizontal">

                <h4>Moderator</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                

                <div class="form-group paddingleft">
                    <div class="col-sm-6">
                        <label>Email Address</label>

                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control input-md email-field" })
                        @Html.ValidationMessageFor(model => model.EmailAddress)
                    </div>
                    </div>


                <div class="form-group paddingleft">
                    <div class="col-sm-6">
                        <label>Alias</label>
                        @Html.TextBoxFor(m => m.Alias, new { @class = "form-control input-md email-field" })
                        @Html.ValidationMessageFor(model => model.Alias)
                        </div>
                    </div>

                <div class="form-group paddingleft">
                    <div class="col-sm-6">
                        <label>Password</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control input-md password-field" })
                        @Html.ValidationMessageFor(model => model.Password)
                        </div>
                    </div>
                <div class="form-group paddingleft">
                    <div class="col-sm-6">
                        <label>Confirm Password</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control input-md password-field" })
                        @Html.ValidationMessageFor(model => model.Password)
                        </div>
                    </div>
                <input type="hidden" name="userGUID" value="@Model.userGUID">
                <div class="form-group paddingleft">
                    <div class="col-sm-6">
                        <span class="field-validation-error">@message</span>
                        <input type="submit" class="btn btn-signin" value="Ceate" />
                        </div>
                    </div>

            </div>
        </div>
      
    </form>
</body>
</html>



