@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deposit Fail</title>
    <link rel="shortcut icon" href="~/Content/Images/Others/AnonymousBidderFavicon.ico" />
    @Styles.Render("~/Style/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
</head>
<body>

    <div class="container">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>Deposit Failed</h1>
            <a href="~/BidPost/BidPost">back to Bid</a>

        </div>
        <div class="col-md-4"></div>




    </div>
</body>
</html>
